:root {
    --maresia-small-logo: url('https://santaimgrp.ecxon.com.br/img/imagens_hud/maresia.png');
    --maresia-rgb: 255, 143, 0;
    --maresia-background-solid: #211A0F;
    --maresia-background-radial: radial-gradient(163.54% 144.88% at 185.97% 50%, rgba(255, 167, 10, 0.20) 0%, rgba(255, 167, 10, 0.00) 100%), #211A0F;
    --maresia-main-5: #fffbec;
    --maresia-main-100: #fff7d3;
    --maresia-main-200: #ffeba5;
    --maresia-main-300: #ffda6d;
    --maresia-main-400: #ffbe32;
    --maresia-main-500: #ffa70a;
    --maresia-main-600: #ff8f00;
    --maresia-main-700: #cc6902;
    --maresia-main-800: #a1510b;
    --maresia-main-900: #82440c;
    --maresia-main-950: #462004;
    --maresia-main-opacity-50: rgba(255, 143, 0, 0.05);
    --maresia-main-opacity-100: rgba(255, 143, 0, 0.1);
    --maresia-main-opacity-200: rgba(255, 143, 0, 0.2);
    --maresia-main-opacity-300: rgba(255, 143, 0, 0.3);
    --maresia-main-opacity-400: rgba(255, 143, 0, 0.4);
    --maresia-main-opacity-500: rgba(255, 143, 0, 0.5);
    --maresia-main-opacity-600: rgba(255, 143, 0, 0.6);
    --maresia-main-opacity-700: rgba(255, 143, 0, 0.7);
    --maresia-main-opacity-800: rgba(255, 143, 0, 0.8);
    --maresia-main-opacity-900: rgba(255, 143, 0, 0.9);
    --maresia-padding-xs: 4px;
    --maresia-padding-sm: 8px;
    --maresia-padding-md: 12px;
    --maresia-padding-lg: 16px;
    --maresia-padding-xl: 20px;
    --maresia-padding-2xl: 24px;
    --maresia-padding-3xl: 32px;
    --maresia-padding-4xl: 40px;
    --maresia-padding-5xl: 48px;
    --maresia-padding-6xl: 64px;
    --maresia-radius-xs: 2px;
    --maresia-radius-sm: 4px;
    --maresia-radius-md: 8px;
    --maresia-radius-lg: 12px;
    --maresia-radius-xl: 16px;
    --maresia-radius-2xl: 24px;
    --maresia-radius-pill: 9999px;
}
